@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

.project{
    margin: 2em 1.2em;
    padding: calc(10px + 2vmin);
    border-radius: 20px;
    background-color: #9ECEFB; 
    color: whitesmoke;
    font-family:'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid whitesmoke;
    width: 17rem;
    height: 40rem;
}

.image-container{
    display: flex; 
    height: 10rem; 
    margin: 5%; 
    align-items: center; 
    justify-content: center;
}

.project-title{
    font-weight: 600; 
    font-size: calc(8px + 2vmin);
    height: 5rem;
    text-align: center;
    margin: 1rem .2rem;
}

.project-info{
    display: flex; 
    width: 16rem; 
    justify-content: space-around; 
    align-items: center;
    margin: 0;
}

.project-info p{
    line-height: .2; 
    font-size: calc(5px + 2vmin); 
    font-weight: 300;
}

.divider{
    height: 10vh; 
    width: 1px; 
    background-color: white;
}

.project-date{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    color: white;
}

#languages-title, #date-title{
    color: #1C4D7A; 
    font-size: calc(7px + 2vmin);
}

.project-description{
    font-size: calc(6px + 2vmin);
    width: 16rem;
    height: 10rem;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}

.project-no-link{height: 2rem;}
.project-link{height: 3rem;}

.project-no-link{
    font-size: calc(5px + 2vmin);
    text-align: center;
    text-decoration: none;
    color: white;
}

.project-link a{
    font-size: calc(6px + 2vmin);
    text-align: center;
    text-decoration: none;
    color: white;
}

.project-link a:hover{
    color:#1C4D7A;
    transition: 1s ease-out;
}
