@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

.about-page{
    background-color: #9ECEFB;
    color: #4286C6;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    padding: 10vh 20vh;
}

.about-hobbies, .about-overview, .about-links{margin-bottom: 5rem;}

.hobbies-content-title, .overview-content-title{text-align: center;}

.overview-text, .hobbies-text{width: 40rem; font-size: calc(5px + 2vmin);}

.overview-text{text-align: right;}

.hobbies-text{text-align: left;}

.overview-image, .hobbies-image{
    background-size: contain;
    height: calc(20px + 20vmin);
    width: calc(20px + 20vmin);
}

.hobbies-content, .overview-content{display: flex; flex-direction: column; flex-wrap: wrap;}

.overview-content, .hobbies-content{display: flex; flex-direction: row; justify-content: space-around;}

.about-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.music-links, .current-read{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-links a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

.current-read-content{
    font-size: calc(5px + 2vmin);
    text-align: center; 
    width: 20rem;
}

.about-divider{height: 15rem; width: 1px; background-color: whitesmoke;}