@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

.about-page{
    background-color: #9ECEFB;
    color: #4286C6;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    padding: 10vh;
}

.about-titles{color: #156DC6; font-size: calc(30px + 3vmin); text-align: center;}

.about-hobbies, .about-overview, .supplement-links{margin-bottom: 5rem; padding: 2rem;}

.about-hobbies, .about-overview{border-bottom: 1px solid whitesmoke;}

.overview-text, .hobbies-text{width: 40rem; font-size: calc(10px + 2vmin);}

.overview-text{text-align: right;}

.hobbies-text{text-align: left;}

.overview-image, .hobbies-image{
    background-size: contain;
    height: calc(30px + 20vmin);
    width: calc(30px + 20vmin);
}

.overview-content, .hobbies-content{display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-around; align-items: center;}

.about-supplement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-supplement{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.supplement-links, .supplement-read{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.supplement-links a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

.music-title, .read-title{text-align: center;}

.current-read{
    text-align: center; 
    width: 20rem;
    font-size: calc(10px + 2vmin);
}

.about-divider{height: 15rem; width: 1px; background-color: whitesmoke;}