@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

.App {font-family: 'Oswald', sans-serif; background-color: #9ECEFB; color: #4286C6;}

.title{color: #156DC6; font-size: calc(30px + 2vmin); margin: 13vh 0; text-align: center;}

.content{
  min-height: 92vh;
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: calc(10px + 3vmin);
  border-bottom: 1px solid #156DC6;
}

.vertical-content{flex-direction: column;}

.horizontal-content{display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-around;}

/*
#instagram{position: fixed; bottom: 3vh; right: 9vw;}
#linkedin{position: fixed; bottom: 3vh; right:6vw;}
#github{position: fixed; bottom: 3vh; right: 3vw;}
*/

#Home{
  font-size: calc(10px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-left: calc(13px + 5vw);
}

/*Landing Page*/
.app-header{justify-content: space-around; margin-top: 5vh;}

.logo{width: 200px; margin-top: 5vh;} /*Temporary placeholder for logo*/

#title-first{margin: 0; font-size: 10vw;}

/*Landing Page*/
/*Roadmap Page*/

.about-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30rem;
  margin: 0 0.5rem 2.3rem .5rem;
  font-size: calc(7px + 2vmin);
}

.about-bio{
  font-size: calc(7px + 2vmin);
  text-align: center;
  line-height: 40px;
  color: #4286C6;
}

/*Roadmap Page*/
/*Skills Page*/
.app-skills{min-height: 70vh;}

.skills-content{display: flex; list-style: none; font-size: calc(20px + 2vmin);}

.skills-list, .skills-experience{list-style: none; padding: 0vh calc(10px + 6vmin);}
/*Skills Page*/
/*Projects Page*/

.project{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 16.66rem;
  margin: 0 0.5rem 2.3rem .5rem;
  font-size: calc(9px + 2vmin);
}

/*Projects Page*/
/*Footer*/

.app-footer{min-height: 30vh;}