@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

.App {
  font-family: 'Oswald', sans-serif;
}

/*Landing Page*/
.App-toolbar {
  background-color: #141A24;
  min-height: 8vh;
  color: #edf0f1;
  font-size: 1.3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vh 5vh;
}

.toolbar-links li{
  list-style: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding: 0px 20px;
}

.toolbar-links li a:hover{color:#AC4545; transition-duration: .5s;}

.App-header {
  background-color: #AC4545;
  min-height: 100vh;
  display: flex;
  padding: 0vh 10vh;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-intro{
  display: flex;
  flex-direction: column;
}

#intro-first{
  color: #141A24;
  margin: 0;
  font-size: 10vw;
}

/*Landing Page*/

/*Skills Page*/
.App-skills{
  background-color: #141A24;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #edf0f1;
  padding: 5vh 5vh;
}

.skills-title{
  font-size: 4vw;
  display: flex;
  justify-content: center;
}

.skills-content{
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 3vw;
}

.skills-list, .App-skills-experience{list-style: none; padding: 0vh 10vh;}
/*Skills Page*/
/*Projects Page*/

.App-projects{
  background-color: #AC4545;
  min-height: 100vh;
  display: flex;
  color:#edf0f1;
  padding: 0vh 5vh;
}

.App-projects-title{font-size: 4vw;}

.App-to-projects{font-size: 5vw;}
/*Projects Page*/
/*Roadmap Page*/

.App-roadmap{
  background-color: #141A24;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: #edf0f1;
  padding: 0vh 5vh;
}

.App-roadmap-title{
  font-size: 4vw;
}
/*Roadmap Page*/
/*Footer*/

.App-footer{
  background-color: #AC4545;
  min-height: 30vh;
  display: flex;
  color:#edf0f1;
  padding: 0vh 5vh;
}
